*{
    margin: 0;
    padding: 0;
}
body{
    padding: 10px 0;
    font-family: 微软雅黑;
}
.wrapper{
    width: 640px;
    border:1px solid #ccc;
    padding: 20px;
    margin: 0 auto;
}
h1{
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    margin: 10px 0 20px;/*上边距 左右边距 下边距*/
}
p{
    font-size: 14px;
    text-indent: 2em;
    margin: 1.5em 0;
    line-height: 1.5em;
}
h1 +p{
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    padding: 10px 0;
    text-indent: 0;
    color: aquamarine;
    font-size: 18px;
}
.sun{
    color: red;
}
ul{
    list-style-type: none;/*取消列表前的点*/
    text-indent:2em;
    font-size: 12px;
}
ul li{
    line-height: 2em;
}
a{
    color: aqua;
    text-decoration: none;
}
a:hover{
    color: red;
    text-decoration: underline;
}
