*{
    margin: 0;
    padding: 0;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #000000;
}
body{
    font-size: 12px;
    background: url(../images/bg.gif) no-repeat /*不重复*/center  top;
}
/*页面总样式*/
.container{
    width: 980px;
    margin: 0 auto;
}
/*页首样式*/
.header{
    padding-bottom:15px ;
    background: url(../images/main_line.jpg) repeat-x left bottom;
}
.mainnav{
    background: url(../images/main_menu_bg.gif) repeat-x ;
}
.mainnav ul{
    font-size: 15px;
    font-weight: bold;
    padding: 9px 0 8px 0;
    margin-left: 30px;
}
.mainnav ul li{
    display: inline-block;
    padding: 0 20px 0 17px;
    border-right: 1px solid #88180f;
}
.mainnav ul li:last-child{
    border: none;
}
.mainnav ul li a{
    color: #ffffff;
}
.mainnav ul li a:hover{
    color: rgba(242, 152, 255, 0.24);
}
.subnav ul{
    text-align: center;
    font-size: 12px;
    padding: 10px 0;
}
.subnav ul li{
    display: inline-block;
    border-right: 1px solid rgba(86,231,255,0.15);
    padding-right: 10px;
    margin-right: 7px;
}
.subnav ul li a{
    color: #111757;
}
.subnav ul li a:hover {
    color: #ff1d33;
}
/*主体*/
.content{
    overflow: hidden;
}
/*侧栏*/
.leftsider{
    float: left;
    width: 210px;
    border: 1px solid #ccc;
    border-top: none;
}
.leftsider ul{
    background: url(../images/directory_bg_big.gif) ;
    padding-left: 50px;
}
.leftsider ul li{
    padding: 7px 0 7px 0;
}
.leftsider ul li a:hover{
    color: #ff1e5a;
}
/*右边内容区样式*/
.main{
    float: right;
    width: 720px;
    padding:0 0 10px 20px;
    border: 1px solid #ccc;
}
.title{
    margin-left: -20px;
    background: url(../images/content_bg.jpg);
}
.title h1{
    font-size: 16px;
    padding: 8px 0 7px 45px;
}
.main h2{
    font-size: 12px;
    margin: 25px 0 10px;
}
.main p{
    line-height: 1.5em;
    margin: 10px 0;
}
.footer{
    background: url(../images/bottom_bg.gif) repeat-x;
    margin-top: 20px;
}
.footer ul{
    text-align: center;
    padding: 10px 0;
    margin:0 10px 0 10px ;
}
.footer ul li{
    display: inline-block;
    padding-right: 10px;
    border-right: 1px solid #999;
    margin-right: 7px;
}
.footer ul li:last-child{
    border: none;
}
.footer ul li a{
    color:#fff;
}
.footer ul li a:hover{
    color: #ffdd23;
}