<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>用v-model做简易计算器</title>
</head>
<body>
<div id="app">

  <input type="text" v-model="n1">

  <select v-model="opt">
    <option value="+">+</option>
    <option value="-">-</option>
    <option value="*">*</option>
    <option value="/">/</option>
  </select>

  <input type="text" v-model="n2">

  <input type="button" value="=" @click="calc">

  <input type="text" v-model="result">


</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
  var vm=new Vue({
    el:'#app',
    data:{
      n1:0,
      n2:0,
      result:0,
      opt:"+"//设置的默认算法
    },
    methods:{
      calc(){//计算算数的方法
        //逻辑：
        switch(this.opt){
          case "+"://parseInt返回解析后的数字。
            this.result=parseInt(this.n1)+parseInt(this.n2);
            break;
          case "-":
            this.result=parseInt(this.n1)-parseInt(this.n2);
            break;
          case "*":
            this.result=parseInt(this.n1)*parseInt(this.n2);
            break;
          case "/":
            this.result=parseInt(this.n1)/parseInt(this.n2);
            break;
        }

        // 建议使用上面的那个，下面这个投机取巧，正式开发中尽量少用：
        // eval() 函数可计算某个字符串，并执行其中的的 JavaScript 代码。
        // var codeStr='parseInt(this.n1)'+this.opt+'parseInt(this.n2)'
        // this.result=eval(codeStr)//计算codeStr中的值返回给result
      }
    }
  })
</script>
</body>
</html>